registry=https://registry.npmmirror.com
fund=false
audit=false
update-notifier=false
progress=false
fetch-retries=5
fetch-retry-factor=2
fetch-retry-maxtimeout=60000
prefer-online=true
legacy-peer-deps=true
